@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.question-block__content-arrow--active{
    transform: rotate(45deg);
    cursor: pointer;
}

.question-block__answer-wrapper--active{
    visibility:  visible;
    position: static;
    opacity: 1;
}
