@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.catalog-section__button{
  @include main-button;
  @include main-button-text;
  padding-left: 6px;
  position: relative;
  text-align: center;
}

.catalog-section__button-wrapper{
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1000px) {
  .catalog-section__button-wrapper{
  margin-top: 45px;
}

.catalog-section__button{
   @include main-button-1000px;
  @include main-button-text-1000px; 
    position: relative;
  text-align: center;
}
}

@media (max-width: 790px) {
  .catalog-section__button-wrapper{
  margin-top: 45px;
}

.catalog-section__button{
  @include main-button-text-1000px; 
}
}

@media (max-width: 550px) {
.catalog-section__button{
 padding-bottom: 10px;
  padding-top: 10px;
  max-width: 204px;
  }}






