@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.catalog-section{
    @include base-proportion;
}

.catalog-section__slogo{
    @include catalog-section__slogo;
    margin-bottom: 40px;
}

.catalog-section__layout-none{
visibility: hidden;
position: fixed;
opacity: 0;
}

.catalog-section__layout{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: auto;
    opacity: 1;
    transition: opacity  2s ease-in-out;  
    visibility:  visible;
    position: static;
    opacity: 1;
}

@media (max-width: 1000px) {
    .catalog-section__slogo{
    @include catalog-section__slogo-1000px;
    margin-bottom: 30px;
}
}

@media (max-width: 790px) {
   .catalog-section__layout{
    justify-content: space-around;
} 
}

@media (max-width: 720px) {
   .catalog-section__slogo{
    @include catalog-section__slogo-1000px;
    margin-bottom: 20px;
}
}