@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.d{
    display: none;
}

.catalog-open-card__fon {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
}

.catalog-open-card__wrapper {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10%;
  right: 50%;
  max-width: 950px;
  width: 100%;
  max-height: 400px;
  height: 100vh;
  background-color: white;
  text-align: center;
  z-index: 1000;
  margin-right: -475px;
}

.catalog-open-card__content-block {
  padding-right: 50px;
  padding-top: 50px;
}

.catalog-open-card__content-header {
  margin: 0;
  box-sizing: border-box;
  padding: 0px 0px 20px 0px;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
  color: goldenrod;
}

.catalog-open-card__content-title {
  margin: 0;
  box-sizing: border-box;
  padding: 5px 0px 5px 0px;
  text-align: left;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: black;
}

.catalog-open-card__slider-wrapper {
  position: relative;
  margin: auto;
  max-width: 420px;
  width: 100vw;

  .slick-track {
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-dots{
    display: none;
  }

  .slick-arrow.slick-prev {
    @include slider-button;
  }

   .slick-arrow.slick-prev::before {
    content: url("../img/button-left.svg");
    position: absolute;
    left: 35%;
    top: 30%;
    cursor: pointer;
  }

  .slick-arrow.slick-next {
    @include slider-button;
    right: 1%;
  }

  .slick-arrow.slick-next::after {
    content: url("../img/button-right.svg");
    position: absolute;
    left: 40%;
    top: 30%;
    cursor: pointer;
  }
}

.catalog-open-card__slider-item {
//   box-sizing: border-box;
//   margin: 10px 0px 10px 0px;
//   display: block;
//   height: 379px;
//   width: 266px;
//   background-color: brown;
//   font-size: 32px;
//   font-weight: 600;
//   line-height: 40px;
}

.catalog-open-card__slider-c{
  box-sizing: border-box;
  margin: 10px 0px 10px 0px;
  display: block;
  height: 379px;
  width: 266px;
  background-color: brown;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}