@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.catalog-section{
    @include base-proportion;
}

.catalog-section__slogo{
    @include catalog-section__slogo;
    margin-bottom: 40px;
}

.catalog-section__layout-none{
 opacity: 0;
 height: 0px; 
 visibility: hidden;

// display: none;
}

.catalog-section__layout{
    height: auto;
    margin-top: 40px;
    opacity: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
    row-gap: 40px;
    transition: opacity  2s ease-in-out;  
}