@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.catalog-section__button{
    margin: auto;
    margin-top: 90px;
    height: 30px;
    width: 90px;
    background-color: $base-black;
    color: $base-white;
    cursor: pointer;
}