@media (max-width: 790px) {
    
.hamburger {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  
  &:focus {
    & > .hamburger__container {
      box-shadow: 0 0 2px 2px #51a7e8;
    }
  }
  
  &,
  &__container {
    &:focus {
      outline: none;
    }
  }
  
  &__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 24px;
    height: 30px;
  }

  &__bars {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #000;
    transition: transform 220ms ease-in-out;

    &::before {
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: #000;
      content: '';
    }
    
    &::after {
      display: block;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: #000;
      content: '';
    }

    &::before {
      top: -8px;
      transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
    }

    &::after {
      bottom: -8px;
      transition: bottom 100ms 250ms ease-in, 
        transform 220ms ease-in-out;
    }
  }
  
  &--active {
    .hamburger__bars {
      transform: rotate(225deg);
      transition: transform 220ms 120ms ease-in-out;

      &::before {
        top: 0;
        transition: top 100ms ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 100ms ease-out, 
          transform 220ms 120ms ease-in-out;
      }
    }
  }
}
}