@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";
@import "./main_page/main-button.scss";

.arendation-block__slogo {
  @include main-titles;
  padding-top: 51px;
  padding-bottom: 60px;
  text-align: right;
}

.arendation-block {
  @include base-proportion;
}

.arendation-block-slider {
  position: relative;
  margin-bottom: 72px;
  .slick-track {
    display: flex;
    justify-content: space-between;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow.slick-prev {
    @include slider-button;
  }

  .slick-arrow.slick-prev::before {
    content: url("../img/button-left.svg");
    position: absolute;
    left: 35%;
    top: 30%;
    cursor: pointer;
  }

  .slick-arrow.slick-next {
    @include slider-button;
    right: 1%;
  }

  .slick-arrow.slick-next::after {
    content: url("../img/button-right.svg");
    position: absolute;
    left: 40%;
    top: 30%;
    cursor: pointer;
  }

  .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.arendation-block-slider__item{
  // img{
  //   height: 100%;
  //   width: 100%;
  // }
}

.arendation-block-slider__content-wrapper {
  position: absolute;
  bottom: 0%;
  max-height: 44px;
  height: 100vh;
  max-width: 266px;
  width:100vw;
  background-color: $base-black;
  opacity: 85%;
}

.arendation-block-slider__content {
  @include slider-text;
  text-align: center;
  padding-top: 4%;
}
