@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";
@import "./main_page/main-button.scss";

.arendation-block__slogo {
  @include main-titles;
  padding-top: 51px;
  padding-bottom: 60px;
  text-align: right;
}

.arendation-block {
  @include base-proportion;
}

.arendation-block-slider {
  position: relative;
  margin-bottom: 72px;
  .slick-track {
    display: flex;
    justify-content: space-between;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow.slick-prev {
    @include slider-button;
  }

  .slick-arrow.slick-prev::before {
    content: url("../img/button-left.svg");
    position: absolute;
    left: 35%;
    top: 30%;
    cursor: pointer;
  }

  .slick-arrow.slick-next {
    @include slider-button;
    right: 1%;
  }

  .slick-arrow.slick-next::after {
    content: url("../img/button-right.svg");
    position: absolute;
    left: 40%;
    top: 30%;    
    cursor: pointer;
  }

  .slick-slide {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.arendation-block-slider__content-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0%;
  max-height: 64px;
  height: 100vh;
  max-width: 266px;
  width:100vw;
  background-color: $base-black;
  opacity: 85%;
}

.arendation-block-slider__content {
  @include slider-text;
  text-align: center;
}

.arendation-block__text-wrapper{
  display: none;
  margin-bottom: 72px;
}

.arendation-block__text-title{
position: relative;
@include base-information-content;
margin: 2% 0 2% 90px;
}

.arendation-block__text-title::before{
  position: absolute;
  content:"";
  height: 15px;
  width: 15px;
  background-color: $base-gold;;
  border-radius: 50%;
  top: 50%;
  margin-top: -7.5px;
  left: -70px;
}

.arendation-block-slider__slider-img-wrapper{
  width: 266px;
  height: 379px;
  overflow: hidden;
  img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}

@media (max-width: 1110px){
.arendation-block-slider__content-wrapper {
display: none;
}

.arendation-block__text-wrapper{
  display: block;
}

  .arendation-block-slider__item-0{
  display: none;
}
}

@media (max-width: 1000px) {
  .arendation-block__slogo{
     @include main-titles-1000px;
     padding-right: 30px;
  }

.arendation-block__text-title{
@include base-information-content-1000px;
}

  .arendation-block-slider__item-0,
  .arendation-block-slider__item-1,{
  display: none;
}

.arendation-block-slider__content {
  @include slider-text-1000px;
  text-align: center;
  padding-top: 4%;
}
}

@media (max-width: 880px){
.arendation-block-slider__item-0,
.arendation-block-slider__item-1,
.arendation-block-slider__item-2,{
  display: none;
}
}

@media (max-width: 790px) {
.arendation-block-slider__item-0,
.arendation-block-slider__item-1,{
  display: none;
}

.arendation-block__slogo{
     @include main-titles-790px;
     padding-right: 0px;
     text-align: center;
  }

  .arendation-block-slider__content {
  @include  slider-text-790px;
  text-align: center;
  padding-top: 5%;
}
}

@media (max-width: 715px) {
.arendation-block-slider__item-0,
.arendation-block-slider__item-1,
.arendation-block-slider__item-2,
.arendation-block-slider__item-3,{
  display: none;
}

.arendation-block__text-title{
@include base-information-content-720px;
margin: 5% 0 5% 90px;
}

}
 
@media (max-width: 520px){
.arendation-block-slider {
  position: relative;
  margin-bottom: 72px;
  .slick-track {
    display: flex;
    justify-content: space-arround;
  }
}

.arendation-block-slider__item{
  .arendation-block-slider__content-wrapper{
    max-width: 190px;
  }
  img{
    max-width: 190px;
  }
} 

.arendation-block-slider__slider-img-wrapper{
  width: 190px;
  height: 270px;
}
}