@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";
@import "./main_page/main-button.scss";

.education-block {
  margin: auto;
}

.education-bloc__slogo {
  @include base-proportion;
  @include main-titles;
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: right;
}

.education-block__fon {
  position: relative;
  background-image: url("../img/education-block-fon.png");
  background-color: rgba(0, 0, 0, 0.7);
  max-height: 647px;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.education-block__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -82px;
  margin-left: -304px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.education-block__content {
  @include main-fon-text;
  text-align: center;
  margin-bottom: 40px;
  max-width: 610px;
}

.education-block__text-wrapper{
  @include base-proportion;
  margin-top: 4%;
}

.education-block__text-header{
  font-size: 30px;
  font-weight: 600;
  line-height: 37px;
  color: $base-gold;
  margin-bottom: 3%;
}

.education-block__text-title{
position: relative;
@include base-information-content;
margin: 2% 0 2% 90px;
max-width: 900px;
}

.education-block__text-title::before{
  position: absolute;
  content:"";
  height: 30px;
  width: 30px;
  background-color: $base-gold;;
  border-radius: 50%;
  top: 50%;
  margin-top: -15px;
  left: -70px;
}

.education-block__footer{
  @include base-proportion;
  @include base-information-content;
  text-align: justify;
  border: 2px solid $base-gold;
  padding: 2% 5% 2% 5%;
  margin-top: 5%;
}