@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";
@import "./main_page/main-button.scss";

.education-block {
  margin: auto;
}

.education-bloc__slogo {
  @include base-proportion;
  @include main-titles;
  padding-top: 100px;
  padding-bottom: 60px;
  padding-right: 30px;
  text-align: right;
}

.education-block__fon {
  position: relative;
  background-color: $base-gray;
  max-height: 647px;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  .education-block__img-wrapper{
    position: absolute;
inset: 0;
max-height: 647px;
 height: 100vh;
overflow: hidden;
  img{
width: 100%;
  height: 100%;
  object-fit: cover;
  }
}
}

.education-block__img-wrapper::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $base-black;
  opacity: 0.4;
}

.education-block__wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -82px;
  margin-left: -304px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.education-block__content {
  @include main-fon-text;
  text-align: center;
  margin-bottom: 40px;
  max-width: 610px;
}

.education-block__text-wrapper{
  @include base-proportion;
  margin-top: 4%;
}

.education-block__text-header{
  @include main-fon-text;
  color: $base-gold;
  margin-bottom: 3%;
}

.education-block__text-title{
position: relative;
@include base-information-content;
margin: 2% 0 2% 90px;
max-width: 900px;
}

.education-block__text-title::before{
  position: absolute;
  content:"";
  height: 30px;
  width: 30px;
  background-color: $base-gold;;
  border-radius: 50%;
  top: 50%;
  margin-top: -15px;
  left: -70px;
}

.education-block__footer{
  @include base-proportion;
  @include base-information-content;
  text-align: center;
  border: 2px solid $base-gold;
  padding: 2% 5% 2% 5%;
}

@media (max-width: 1000px) {
  .education-bloc__slogo {
     @include main-titles-1000px;
  }
  .education-block__text-title{
     @include base-information-content-1000px;
  }

  .education-block__footer{
  @include base-information-content-1000px;
  margin: 5% 1% 0% 1%;
}

.education-block__text-header{
  margin-bottom: 4%;
}
}

@media (max-width: 790px) {
   .education-bloc__slogo {
     @include main-titles-790px;
     text-align: center;
  }

  .education-block__footer{
  margin: 5% 1% 0% 1%;
}
}

@media (max-width: 720px) {
 .education-block__content {
  @include main-fon-text-720px;
  margin-bottom: 0px;
  max-width: 320px;
}

.education-block__wrapper {
  margin-top: -27px;
 margin-left: -160px;
}

.education-block__text-header{
  @include main-fon-text-720px;
  color: $base-gold;
  padding-right: 20px;
  margin-bottom: 5%;
}

.education-block__text-title{
     @include base-information-content-720px;
  }

  .education-block__text-title::before{
  height: 20px;
  width: 20px;
  margin-top: -10px;
  left: -60px;
}

.education-block__footer{
  @include base-information-content-720px;
  margin: 5% 1% 0% 1%;
}
}


@media (max-width: 550px) {
  .education-block__footer{
  @include base-information-content-550px;
  margin: 5% 1% 0% 1%;
}

.education-block__text-title{
     @include base-information-content-550px;
  }

.education-block__text-header{
  margin-bottom: 5%;
}
}