@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.firm-information-block{
    margin-top: 80px;
}

.firm-information__slogo{
 @include main-titles;
 @include base-proportion;
 text-align: left;
 padding-right: 30px;
 margin-bottom: 60px;
}

.firm-information__fon{
position: relative;
 max-height: 450px;
 width: 100%;
 height: 100vh;
 background-size: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
}

.firm-information__fon-img-wrapper{
  position: absolute;
  inset: 0;
  max-height: 450px;
  height: 100vh;
  overflow: hidden;
  z-index: -4;
}

.firm-information__fon-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.firm-information__fon::after{
  content: '';
  z-index: -3;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $base-black;
  opacity: 0.4;
}

.firm-information__content-wrapper{
  max-width: 1180px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  z-index: 100;
  grid-template-areas: 
            "a a a"
            "b c d";
  p{
  @include base-information-content;
  padding-top: 30px;
  color: $base-white;
}
}

.firm-information__content-element-a{
    grid-area: a;
 p{
    text-align: center;
    padding: 30px 4% 40px 4%;
  span{
    font-weight: 600;
  }
 }
}

.firm-information__content-element-b{
    grid-area: b;
     p{
      max-width: 366px;
    }
}

.firm-information__content-element-c{
    grid-area: c;
     p{
      max-width: 366px;
    }
}

.firm-information__content-element-d{
    grid-area: d;
}

@media (max-width: 1000px) {
.firm-information__slogo{
 @include main-titles-1000px;
 text-align: right;
}

.firm-information__content-wrapper{
 p{
  @include base-information-content-1000px;
  color: $base-white;
}
}

.firm-information__content-img{
  text-align: center;
  width: 110px;
}
}

@media (max-width: 790px) {
.firm-information__slogo{
 @include main-titles-790px;
 text-align: center;
 padding-right: 0px;
}

.firm-information__content-wrapper{
 p{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: $base-white;
}
}
}

@media (max-width: 550px) {
  .firm-information__content-wrapper{
 p{
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  color: $base-white;
}
}
}

