@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.firm-information-block{
    margin-top: 80px;
}

.firm-information__slogo{
 @include main-titles;
 @include base-proportion;
 text-align: right;
 padding-right: 20px;
 margin-bottom: 60px;
}

.firm-information__fon{
position: relative;
background-image: url("../img/firm-information-fon");
max-height: 450px;
height: 100vh;
background-size: 100%;
background-repeat: no-repeat;
background-size: cover;
}

.firm-information__content-wrapper{
 @include base-proportion;
 display: grid;
 grid-template-areas: 
            "a a a"
            "b c d";
 p{
  @include base-information-content;
  padding-top: 30px;
}
}

.firm-information__content-element-a{
    grid-area: a;
 p{
    text-align: center;
    padding: 30px 4% 40px 4%;
  span{
    font-weight: 600;
  }
 }
}

.firm-information__content-element-b{
    grid-area: b;
     p{
      max-width: 366px;
    }
}

.firm-information__content-element-c{
    grid-area: c;
     p{
      max-width: 366px;
    }
}

.firm-information__content-element-d{
    grid-area: d;
}