@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.header-nav-wrapper {
  @include base-proportion;
  background-color: $base-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 25px;
}

.header-nav__telefon-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
}

.header-nav__logo {
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  color: $base-black;
  padding-right: 7%;
  span {
    color: $base-gold;
  }
}

.header-nav__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: $base-black;
  cursor: pointer;
  transition: 0.7s;
}

.header-nav__title:hover {
  color: $base-gold;
}

.header-nav__telefon {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: $base-gray;
  transition: 0.7s;
  cursor: pointer;
}

.header-nav__telefon:hover {
  color: $base-gold;
}

.header-slogo__background {
  position: relative;
  background-image: url("../img/header-slider-fon.png");
  background: rgba(0,0,0, .5);
  max-height: 899px;
  height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-slogo__content-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -90px;
  margin-left: -360px;
  h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    line-height: 61px;
    color: $base-white;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    color: $base-gold;
  }

  p {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
    color: $base-white;
  }

  span{
    color: $base-gold;
  }
}

.header-nav__title-wrapper{
  position: relative;
}

@media (max-width: 1000px) {
  .header-nav__title {
  font-size: 16px;
  line-height: 18px;
  }

  .header-nav__telefon {
  font-size: 16px;
  line-height: 18px;
}

.header-slogo__content-wrap {
  margin-left: -230px;
  margin-top: -45px;
  h3 {
    font-size: 32px;
    line-height: 41px;
  }

  p {
    font-size: 20px;
    line-height: 24px;
  }
}
}

@media (max-width: 790px) {
.header-nav__title{
  display: none;
}

.header-nav__logo {
  grid-area: b; 
  font-size: 22px;
  line-height: 27px;
  padding-right: 7%;
}

.header-nav__telefon-wrapper{
  grid-area: a; 
}
.header-nav-wrapper {
  display: grid;
  text-align: center;
  grid-template-areas: "a b c";
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 15px;
  margin-top: 5px;
}

.header-slogo__content-wrap {
  margin-left: -142px;
  margin-top: -28px;
  h3 {
    font-size: 20px;
    line-height: 24px;
  }

  p {
    font-size: 10px;
    line-height: 12px;
  }
}

  .header-nav__telefon {
  font-size: 10px;
  line-height: 12px;
}

.header-nav__burger{
  display: block;
  grid-area: c;
}

}

.header-nav__burger{
  display: none;
}

//burger-menu

.header-nav__menu{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  display:none;
  flex-direction: column;
  top: 165%;
  left:50%;
  transform:translate(-50%);
  background-color: $base-gold;
  transition: 0.7s;
  z-index: 10000000;
}

.header-nav__menu-text{
  display: block;
  font-size: 25px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: $base-white;
  cursor: pointer;
  transition: 0.7s;
  max-width : 280px;
  width: 100vw;
  padding-top: 10%;
  padding-bottom: 10%;
}

.header-nav__menu-text:hover{
  background-color: $base-white;
  color: $base-black;
}

//active

.header-nav__menu--active{
  visibility: visible;
  opacity: 1;
  display:block;
  position: absolute;
  flex-direction: column;
  top: 165%;
  left:50%;
  transform:translate(-50%);
  background-color: $base-gold;
  transition: 0.7s;
  z-index: 10000000;
}