@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";

.main-button {
   max-width: 294px;
  width: 100vw;
  max-height: 50px;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
  display: block;
  background-color: $base-gold;
  border: none;
  cursor: pointer;
  @include main-button-text;
}

.main-button__wrapper {
  display: flex;
  justify-content: center;
}

.toCatolog-Button{
  padding-top: 12px;
  padding-bottom: 12px;
  display: inline-block;
  max-width: 294px;
  width: 100vw;
  cursor: pointer;
  @include main-button-text;
  background-color: $base-gold;
  text-align: center;
  text-transform: uppercase;
}