@import "./basic_classes/vars.scss";
@import "./basic_classes/mixin.scss";
@import "./main_page/main-button.scss";

.service-block{
    margin-top: 80px;
}

.service-block__slogo-wrapper{
  @include base-proportion;
}

.service-block__slogo{
 @include main-titles;
 text-align: left;
 padding-left: 30px;
}

.service-block__text-wrapper{
  @include base-proportion;
  display: flex;
  justify-content: flex-end;
}

.service-block__text{
  @include main-fon-text;
  color: $base-gold;
  text-align: center;
  text-transform: uppercase;
  max-width: 540px; 
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 60px;
}

.service-block__content-wrapper{
  @include base-proportion;
  display: grid;
  grid-template-columns: 1fr ;
  margin-bottom: 60px;
}

.service-block__content-text-wrapp{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
   p{
    margin-left: 30px;
   }
}

.service-block__content-text-wrapp-odd{
  display: flex;
  justify-content: flex-end;
  align-items: center;
   
   p{
    margin-right: 30px;
   }
}

.service-block__content-text{
  @include base-information-content;
  vertical-align: middle;
  max-width: 640px;
}

@media (max-width: 1000px){
.service-block__slogo{
 @include main-titles-1000px;
 text-align: left;
 padding-left: 30px;
}
.service-block__content-text{
  @include base-information-content-1000px;
  vertical-align: middle;
  max-width: 640px;
}
}

@media (max-width: 790px) {
  .service-block__slogo{
 @include main-titles-790px;
 text-align: center;
 padding-left: 0px;
 margin-bottom: 20px;
}

 .service-block__content-text{
  @include base-information-content-720px;
  vertical-align: middle;
  max-width: 640px;
}

.service-block__text{
  @include main-fon-text-720px;
  color: $base-gold;
  text-align: center;
  text-transform: uppercase;
  max-width: 540px; 
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 60px;
}
}