@import "vars.scss";
@import "mixin.scss";

.building-services {
  @include base-proportion;
}

.building-services__slogo {
  @include main-titles;
  padding-top: 92px;
  padding-bottom: 60px;
  text-align: left;
}

.building-services__wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.building-services__title {
  width: 278px;
  height: 396px;
  position: relative;
  background-image: url("../img/car.png");
  background-repeat: no-repeat;
  background-size: cover;

  p {
    @include slider-text;
  }

  :nth-child(1n) {
    position: absolute;
    top: 10%;
    left: 7%;
  }

  :nth-child(2n) {
    position: absolute;
    top: 25%;
    left: 7%;
  }
}
